python-dateutil==2.8.0
PyYAML>=3.12  # under debian requires: libyaml-dev, libpython3-dev
cryptography>=1.0.2  # under debian requires: libffi-dev:amd64 libssl-dev:amd64
pytest==7.4.0
pytest-asyncio==0.14.0
aiomock
ply==3.11
PySide6==6.4.3
qasync==0.27.1
attrs==20.3.0  # fix pytest requirement

# installing pyside using pip has following package requirements:
# apt-get install build-essential git cmake libqt4-dev libphonon-dev python2.7-dev libxml2-dev libxslt1-dev qtmobility-dev
# see: http://pyside.readthedocs.org/en/latest/building/linux.html
# also, maybe: apt-get install qmake
